header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 2rem;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 10;
}

.logoAndName {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}

.logoAndName h1 {
  left: 105px;
  position: absolute;
  top: 22px;
}

.logoAndName h1:hover {
  color: #a95c39;
  cursor: pointer;
}

.headerActions {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
}

.headerActions span:hover {
  color: #a95c39;
}

.icons {
  display: flex;
}

h1,
span {
  color: #ffffff;
  font-family: var(--font-family);
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

.icons {
  gap: 3rem;
  justify-content: end;
}

.profileDropdownWrapper,
.cartDropdownWrapper {
  position: relative;
  cursor: pointer;
}

.cartDropdownWrapper:hover .cartDropdown,
.profileDropdownWrapper:hover .profileDropdown {
  opacity: 1;
  transition: opacity 300ms;
  transition-delay: 0ms;
}

.cartDropdown,
.profileDropdown {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  transition: opacity 400ms;
  transition-delay: 600ms;
  z-index: 20;

  /* Positioning: */
  position: absolute;
  right: 0;
  top: 100%;
}

.profileDropdown {
  padding: 20px;
}

.profileDropdown h4 {
  font-family: var(--font-family);
  font-size: 1.7rem;
}

.profileDropdown ul {
  font-family: var(--font-family);
  list-style-type: none;

  /* List items: */
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.profileDropdown li {
  font-size: 1.3rem;
}

.profileDropdown li:hover {
  color: #a95c39;
  cursor: pointer;
}

table {
  border-spacing: 15px;
}

th,
td {
  font-family: var(--font-family);
  text-align: left;
}

td {
  vertical-align: top;
}

td img {
  height: 75px;
  width: 75px;
}

tfoot {
  background-color: #a95c39;
  color: #ffffff;
  height: 50px;
}

tfoot td {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

.quantityAmt,
.deleteBtn {
  text-align: center;
}

.deleteBtn button {
  border-style: none;
  background-color: #ffffff;
}

.deleteBtn button:hover {
  color: red;
  cursor: pointer;
}

@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
