.container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  width: 100vw;
}

.container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.container,
section {
  height: 100vh;
}

section {
  scroll-snap-align: start;

  /* Create stacking context */
  position: relative;
}

img {
  height: 100%;
  object-fit: fill;
  opacity: 0.85;
  width: 100%;
}

.contentBlock {
  z-index: 2;

  /* Positioning: */
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
