:root {
  --font-family: 'Mercury G1 Regular', Vegur, sans-serif, system-ui;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  max-width: 1500px;
  width: 100%;
}

#root {
  /* Descendants: */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@font-face {
  font-family: 'Mercury G1 Regular';
  src: url(../fonts/Mercury\ Text\ G1\ Regular/.woff2),
    url(../fonts/Mercury\ Text\ G1\ Regular/.woff);
}

@font-face {
  font-family: Vegur;
  src: url(../public/fonts/webfonts_Vegur/Vegur.ttf.woff);
}
